#root {
   width: 100%;
   height: 100%;
}

.app {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
}

.content {
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0;
   overflow-y: auto;
   overflow-x: hidden;
}

.page {
   padding: 0 1rem 0 1rem;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.page h1 {
   font-size: 2rem;
   margin-bottom: 1rem;
}

.page p {
   color: #888;
}
